.sortable {
    cursor: pointer;
    color: rgb(247, 226, 45);
}

.warning {
    background-color: #f31a1a;
}

table {
  color: rgb(17, 17, 17);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #f7db80;
}

.header-row {
    background: #f58326;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}